* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.header {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_link {
  text-decoration: none;
}

.header_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: #F4DB67;
  text-transform: uppercase;
  text-shadow: -5px 1px 1px gray;
  text-align: center;
}

.container {
  height: 75vh;
  background-color: black;
  background-image: url("./images/image21.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

.inside_container {
  height: 75vh;
  background-image: url("./images/UNDERCONSTRUCTION.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
}

.socials_list {
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials_item {
  align-self: center;
  list-style: none;
  align-self: center;
  justify-self: center;
}

.socials_icon {
  width: 65px;
  height: 65px;
  fill: #F4DB67;
}

@media screen and (max-width: 926px) and (orientation: landscape) {
  .header {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .header_text {
    font-size: 3rem;
  }

  .container {
    height: 65vh;
    background-size: contain;
    background-repeat: repeat;
  }

  .inside_container {
    height: 65vh;
    background-repeat: repeat;
  }

  .socials_list {
    margin-top: 10px;
  }

  .socials_icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 428px) {
  .header_text {
    font-size: 5rem;
  }

  .container {
    min-height: 55vh;
    max-height: 75vh;
    background-repeat: no-repeat;
  }

  .inside_container {
    min-height: 55vh;
    max-height: 75vh;
  }
}


@media screen and (min-width: 814px) {
  .header_text:hover {
    color: gray;
    text-shadow: -5px 1px 1px #F4DB67;
  }

  .container {
    height: 75vh;
    background-size: contain;
    background-repeat: repeat;
  }

  .inside_container {
    height: 73vh;
    background-image: url("./images/UNDERCONSTRUCTION_UNCUT.png");
    background-size: contain;
    background-repeat: repeat;
  }

  .inside_container:hover {
    background-image: url("./images/UNDERCONSTRUCTION_UNCUT_REVERSE.png");
  }

  .socials_icon:hover {
    fill: gray;
  }
}
