* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}


/* ============HEADER=========== */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header_link {
  text-decoration: none;
}

.header_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: #F4DB67;
  text-transform: uppercase;
  text-shadow: -5px 1px 1px gray;
  text-align: center;
}

.header_text:hover {
  color: gray;
  text-shadow: -5px 1px 1px #F4DB67;
}

/* ============MENU=========== */

.menu {
  display: block;
  width: 100%;
  border-top: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 15px;
}

.menu_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.menu_list_item {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.menu_link {
  text-decoration: none;
  color: #F4DB67;
  text-shadow: -2px 1px 1px gray;
}

.menu_list_item:nth-child(2n) > .menu_link {
  color: gray;
  text-shadow: -2px 1px 1px #F4DB67;
}

.menu_link:hover {
  color: gray;
  text-shadow: -2px 1px 1px #F4DB67;
}

.menu_list_item:nth-child(2n) > .menu_link:hover {
  color: #F4DB67;
  text-shadow: -2px 1px 1px gray;
}


/* =========MAIN========= */

.main {
  margin-left: 40px;
  margin-right: 40px;
}

.main_header {
  background-image: url("../images/paper_top_bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_header:hover {
  outline: 3px solid #F4DB67;
}

.main_header_link {
  text-decoration: none;
}

.main_header_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #F4DB67;
  text-transform: uppercase;
  text-shadow: -5px 1px 1px gray;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ==========UNDER MAIN========= */

.sptf_link {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #F4DB67;
  text-transform: uppercase;
  text-shadow: -2px 1px 1px gray;
  text-align: center;
  text-decoration: none;
}

.sptf_link_span_gray {
  color: gray;
  text-shadow: -2px 1px 1px #F4DB67;
}

/* ========MAIN SECTION=========== */

.main_div:nth-child(n+2) {
  margin-top: 30px;
}

.velo {
  background-image: url("../images/velo_bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.velo:hover {
  outline: 3px solid gray;
}

.wear {
  background-image: url("../images/wear_bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wear:hover {
  outline: 3px solid #F4DB67;
}

.main_link {
  text-decoration: none;
}

.main_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #F4DB67;
  text-transform: uppercase;
  text-shadow: -5px 1px 1px gray;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

/* ========SMALL SECTIONS======= */

.small_sections {
  display: flex;
  justify-content: space-between;
}

.small_sect {
  width: 49%;
}

.small_velo {
  background-image: url("../images/small_velo.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.small_velo:hover {
  outline: 3px solid #F4DB67;
}

.small_people {
  background-image: url("../images/small_people.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.small_people:hover {
  outline: 3px solid gray;
}

.sm_sect_link {
  text-decoration: none;
}

.small_link_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #F4DB67;
  text-transform: uppercase;
  text-shadow: -3px 1px 1px gray;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

/* =========FRAME========= */

.frame {
  margin-top: 30px;
}

.crypto {
  margin-bottom: 30px;
}

.yt_sptf {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.spotify {
  width: 24%;
  height: 400px;
}

.youtube {
  width: 74%;
  height: 400px;
}

/* ========FOOTER======== */

.socials_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid gray;
}

.socials_item {
  align-self: center;
  list-style: none;
  align-self: center;
  justify-self: center;
}

.socials_icon {
  width: 65px;
  height: 65px;
  fill: #F4DB67;
}

.socials_icon:hover {
  fill: gray;
}